# PerfectNestedSampling requirements
# ----------------------------------
# pip install all requirements with
# $ pip install -r requirements.txt
numpy >= 1.13
scipy >= 0.18.1
pandas
mpmath
tqdm
futures  # part of core for Python >= 3.2
